In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)
data = pd.read_csv('./accepted_2007_to_2018Q4.csv')
data

C:\Users\user\AppData\Local\Temp\ipykernel_20100\473431239.py:2: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('./accepted_2007_to_2018Q4.csv')

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,leadman,10+ years,MORTGAGE,55000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,190xx,PA,5.91,0.0,Aug-2003,675.0,679.0,1.0,30.0,NaN,7.0,0.0,2765.0,29.7,13.0,w,0.00,0.00,4421.723917,4421.72,3600.00,821.72,0.00,0.0,0.0,Jan-2019,122.67,NaN,Mar-2019,564.0,560.0,0.0,30.0,1.0,Individual,NaN,NaN,NaN,0.0,722.0,144904.0,2.0,2.0,0.0,1.0,21.0,4981.0,36.0,3.0,3.0,722.0,34.0,9300.0,3.0,1.0,4.0,4.0,20701.0,1506.0,37.2,0.0,0.0,148.0,128.0,3.0,3.0,1.0,4.0,69.0,4.0,69.0,2.0,2.0,4.0,2.0,5.0,3.0,4.0,9.0,4.0,7.0,0.0,0.0,0.0,3.0,76.9,0.0,0.0,0.0,178050.0,7746.0,2400.0,13734.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,Engineer,10+ years,MORTGAGE,65000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,Business,577xx,SD,16.06,1.0,Dec-1999,715.0,719.0,4.0,6.0,NaN,22.0,0.0,21470.0,19.2,38.0,w,0.00,0.00,25679.660000,25679.66,24700.00,979.66,0.00,0.0,0.0,Jun-2016,926.35,NaN,Mar-2019,699.0,695.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,204396.0,1.0,1.0,0.0,1.0,19.0,18005.0,73.0,2.0,3.0,6472.0,29.0,111800.0,0.0,0.0,6.0,4.0,9733.0,57830.0,27.1,0.0,0.0,113.0,192.0,2.0,2.0,4.0,2.0,NaN,0.0,6.0,0.0,5.0,5.0,13.0,17.0,6.0,20.0,27.0,5.0,22.0,0.0,0.0,0.0,2.0,97.4,7.7,0.0,0.0,314017.0,39475.0,79300.0,24667.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,truck driver,10+ years,MORTGAGE,63000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,home_improvement,NaN,605xx,IL,10.78,0.0,Aug-2000,695.0,699.0,0.0,NaN,NaN,6.0,0.0,7869.0,56.2,18.0,w,0.00,0.00,22705.924294,22705.92,20000.00,2705.92,0.00,0.0,0.0,Jun-2017,15813.30,NaN,Mar-2019,704.0,700.0,0.0,NaN,1.0,Joint App,71000.0,13.85,Not Verified,0.0,0.0,189699.0,0.0,1.0,0.0,4.0,19.0,10827.0,73.0,0.0,2.0,2081.0,65.0,14000.0,2.0,5.0,1.0,6.0,31617.0,2737.0,55.9,0.0,0.0,125.0,184.0,14.0,14.0,5.0,101.0,NaN,10.0,NaN,0.0,2.0,3.0,2.0,4.0,6.0,4.0,7.0,3.0,6.0,0.0,0.0,0.0,0.0,100.0,50.0,0.0,0.0,218418.0,18696.0,6200.0,14877.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,Information Systems Officer,10+ years,MORTGAGE,110000.0,Source Verified,Dec-2015,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,076xx,NJ,17.06,0.0,Sep-2008,785.0,789.0,0.0,NaN,NaN,13.0,0.0,7802.0,11.6,17.0,w,15897.65,15897.65,31464.010000,31464.01,19102.35,12361.66,0.00,0.0,0.0,Feb-2019,829.90,Apr-2019,Mar-2019,679.0,675.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,301500.0,1.0,1.0,0.0,1.0,23.0,12609.0,70.0,1.0,1.0,6987.0,45.0,67300.0,0.0,1.0,0.0,2.0,23192.0,54962.0,12.1,0.0,0.0,36.0,87.0,2.0,2.0,1.0,2.0,NaN,NaN,NaN,0.0,4.0,5.0,8.0,10.0,2.0,10.0,13.0,5.0,13.0,0.0,0.0,0.0,1.0,100.0,0.0,0.0,0.0,381215.0,52226.0,62500.0,18000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,Contract Specialist,3 years,MORTGAGE,104433.0,Source Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,major_purchase,Major purchase,174xx,PA,25.37,1.0,Jun-1998,695.0,699.0,3.0,12.0,NaN,12.0,0.0,21929.0,64.5,35.0,w,0.00,0.00,11740.500000,11740.50,10400.00,1340.50,0.00,0.0,0.0,Jul-2016,10128.96,NaN,Mar-2018,704.0,700.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,331730.0,1.0,3.0,0.0,3.0,14.0,73839.0,84.0,4.0,7.0,9702.0,78.0,34000.0,2.0,1.0,3.0,10.0,27644.0,4567.0,77.5,0.0,0.0,128.0,210.0,4.0,4.0,6.0,4.0,12.0,1.0,12.0,0.0,4.0,6.0,5.0,9.0,10.0,7.0,19.0,6.0,12.0,0.0,0.0,0.0,4.0,96.6,60.0,0.0,0.0,439570.0,95768.0,20300.0,88097.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260696,88985880,NaN,40000.0,40000.0,40000.0,60 months,10.49,859.56,B,B3,Vice President,9 years,MORTGAGE,227000.0,Verified,Oct-2016,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,NaN,907xx,CA,12.75,7.0,Feb-1995,705.0,709.0,1.0,9.0,NaN,5.0,0.0,8633.0,64.9,37.0,f,23252.59,23252.59,24903.930000,24903.93,16747.41,8156.52,0.00,0.0,0.0,Mar-2019,859.56,Apr-2019,Mar-2019,724.0,720.0,0.0,10.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,28398.0,0.0,2.0,0.0,1.0,15.0,19765.0,46.0,0.0,0.0,5141.0,51.0,13300.0,3.0,0.0,2.0,2.0,5680.0,4070.0,66.9,0.0,0.0,154.0,258.0,33.0,15.0,3.0,41.0,9.0,1.0,9.0,6.0,2.0,3.0,2.0,15.0,9.0,3.0,23.0,3.0,5.0,0.0,0.0,7.0,0.0,75.7,50.0,0.0,0.0,55970.0,28398.0,12300.0,42670.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260697,88224441,NaN,24000.0,24000.0,24000.0,60 months,14.49,564.56,C,C4,Program Manager,6 years,RENT,110000.0,Not Verified,Oct-2016,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,334xx,FL,18.30,0.0,Jul-1999,660.0,664.0,0.0,67.0,72.0,10.0,1.0,17641.0,68.1,31.0,f,0.00,0.00,6755.400000,6755.40,3521.91,3233.49,0.00,0.0,0.0,Oct-2017,564.56,NaN,Mar-2019,594.0,590.0,0.0,67.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,62426.0,0.0,2.0,0.0,2.0,20.0,44785.0,78.0,1.0,5.0,6172.0,73.0,25900.0,0.0,0.0,1.0,7.0,6243.0,4660.0,77.5,0.0,0.0,132.0,206.0,9.0,9.0,2.0,9.0,NaN,9.0,NaN,1.0,5.0,7.0,5.0,15.0,4.0,8.0,24.0,7.0,10.0,0.0,0.0,0.0,1.0,96.2,40.0,1.0,0.0,84664.0,62426.0,20700.0,58764.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,Y,Mar-2019,ACTIVE,Mar-2019,10000.0,44.82,1.0
2260698,88215728,NaN,14000.0,14000.0,14000.0,60 months,14.49,329.33,C,C4,Customer Service Technician,10+ years,MORTGAGE,95000.0,Verified,Oct-2016,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,NaN,770xx,TX,23.36,0.0,Jun-1996,660.0,664.0,1.0,37.0,NaN,8.0,0.0,7662.0,54.0,22.0,w,8456.12,8456.12,9621.250000,9621.25,5543.88,4027.96,49.41,0.0,0.0,Mar-2019,329.33,Apr-2019,Mar-2019,669.0,665.0,0.0,37.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,143066.0,0.0,1.0,1.0,2.0,7.0,32071.0,94.0,0.0,1.0,4093.0,84.0,14200.0,3.0,1.0,2.0,3.0,17883.0,1838.0,80.7,0.0,0.0,149.0,243.0,22.0,7.0,1.0,75.0,39.0,6.0,37.0,4.0,3.0,3.0,4.0,12.0,3.0,5.0,17.0,3.0,8.0,0.0,0.0,0.0,1.0,81.8,50.0,0.0,0.0,163804.0,44215.0,9500.0,34169.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260699,Total amount funded in policy code 1: 1465324575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2260700,Total amount funded in policy code 2: 521953170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=151)

In [4]:
data_ver1 = data[['int_rate', 'installment', 'issue_d', 'dti', 'earliest_cr_line', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'mort_acc', 'collections_12_mths_ex_med', 'annual_inc', 'emp_length', 'loan_amnt', 'purpose', 'loan_status']]

In [5]:
data_ver1

,int_rate,installment,issue_d,dti,earliest_cr_line,pub_rec,revol_bal,revol_util,total_acc,mort_acc,collections_12_mths_ex_med,annual_inc,emp_length,loan_amnt,purpose,loan_status
0,13.99,123.03,Dec-2015,5.91,Aug-2003,0.0,2765.0,29.7,13.0,1.0,0.0,55000.0,10+ years,3600.0,debt_consolidation,Fully Paid
1,11.99,820.28,Dec-2015,16.06,Dec-1999,0.0,21470.0,19.2,38.0,4.0,0.0,65000.0,10+ years,24700.0,small_business,Fully Paid
2,10.78,432.66,Dec-2015,10.78,Aug-2000,0.0,7869.0,56.2,18.0,5.0,0.0,63000.0,10+ years,20000.0,home_improvement,Fully Paid
3,14.85,829.90,Dec-2015,17.06,Sep-2008,0.0,7802.0,11.6,17.0,1.0,0.0,110000.0,10+ years,35000.0,debt_consolidation,Current
4,22.45,289.91,Dec-2015,25.37,Jun-1998,0.0,21929.0,64.5,35.0,6.0,0.0,104433.0,3 years,10400.0,major_purchase,Fully Paid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260696,10.49,859.56,Oct-2016,12.75,Feb-1995,0.0,8633.0,64.9,37.0,3.0,0.0,227000.0,9 years,40000.0,debt_consolidation,Current
2260697,14.49,564.56,Oct-2016,18.30,Jul-1999,1.0,17641.0,68.1,31.0,2.0,0.0,110000.0,6 years,24000.0,debt_consolidation,Charged Off
2260698,14.49,329.33,Oct-2016,23.36,Jun-1996,0.0,7662.0,54.0,22.0,1.0,0.0,95000.0,10+ years,14000.0,debt_consolidation,Current
2260699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2260700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data_ver1_clean = data_ver1.dropna(axis = 0)
data_ver1_clean

,int_rate,installment,issue_d,dti,earliest_cr_line,pub_rec,revol_bal,revol_util,total_acc,mort_acc,collections_12_mths_ex_med,annual_inc,emp_length,loan_amnt,purpose,loan_status
0,13.99,123.03,Dec-2015,5.91,Aug-2003,0.0,2765.0,29.7,13.0,1.0,0.0,55000.0,10+ years,3600.0,debt_consolidation,Fully Paid
1,11.99,820.28,Dec-2015,16.06,Dec-1999,0.0,21470.0,19.2,38.0,4.0,0.0,65000.0,10+ years,24700.0,small_business,Fully Paid
2,10.78,432.66,Dec-2015,10.78,Aug-2000,0.0,7869.0,56.2,18.0,5.0,0.0,63000.0,10+ years,20000.0,home_improvement,Fully Paid
3,14.85,829.90,Dec-2015,17.06,Sep-2008,0.0,7802.0,11.6,17.0,1.0,0.0,110000.0,10+ years,35000.0,debt_consolidation,Current
4,22.45,289.91,Dec-2015,25.37,Jun-1998,0.0,21929.0,64.5,35.0,6.0,0.0,104433.0,3 years,10400.0,major_purchase,Fully Paid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260694,12.79,543.50,Oct-2016,19.61,Dec-1999,0.0,49431.0,84.4,54.0,0.0,0.0,95000.0,7 years,24000.0,home_improvement,Current
2260695,10.49,515.74,Oct-2016,34.94,Feb-1991,1.0,21665.0,39.0,58.0,4.0,0.0,108000.0,10+ years,24000.0,debt_consolidation,Current
2260696,10.49,859.56,Oct-2016,12.75,Feb-1995,0.0,8633.0,64.9,37.0,3.0,0.0,227000.0,9 years,40000.0,debt_consolidation,Current
2260697,14.49,564.56,Oct-2016,18.30,Jul-1999,1.0,17641.0,68.1,31.0,2.0,0.0,110000.0,6 years,24000.0,debt_consolidation,Charged Off
2260698,14.49,329.33,Oct-2016,23.36,Jun-1996,0.0,7662.0,54.0,22.0,1.0,0.0,95000.0,10+ years,14000.0,debt_consolidation,Current

In [7]:
data_ver1_clean['int_rate'] = data_ver1_clean['int_rate'] * 1200
data_ver1_clean['revol_bal'] = data_ver1_clean['revol_bal'] * 1200
data_ver1_clean['installment'] = data_ver1_clean['installment'] * 1200
data_ver1_clean['annual_inc'] = data_ver1_clean['annual_inc'] * 1200
data_ver1_clean['loan_amnt'] = data_ver1_clean['loan_amnt'] * 1200
data_ver1_clean

C:\Users\user\AppData\Local\Temp\ipykernel_20100\16467073.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ver1_clean['int_rate'] = data_ver1_clean['int_rate'] * 1200
C:\Users\user\AppData\Local\Temp\ipykernel_20100\16467073.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ver1_clean['revol_bal'] = data_ver1_clean['revol_bal'] * 1200
C:\Users\user\AppData\Local\Temp\ipykernel_20100\16467073.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ver1_clean['installment'] = data_ver1_clean['installment'] * 1200
C:\Users\user\AppData\Local\Temp\ipykernel_20100\16467073.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ver1_clean['annual_inc'] = data_ver1_clean['annual_inc'] * 1200
C:\Users\user\AppData\Local\Temp\ipykernel_20100\16467073.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ver1_clean['loan_amnt'] = data_ver1_clean['loan_amnt'] * 1200

,int_rate,installment,issue_d,dti,earliest_cr_line,pub_rec,revol_bal,revol_util,total_acc,mort_acc,collections_12_mths_ex_med,annual_inc,emp_length,loan_amnt,purpose,loan_status
0,16788.0,147636.0,Dec-2015,5.91,Aug-2003,0.0,3318000.0,29.7,13.0,1.0,0.0,66000000.0,10+ years,4320000.0,debt_consolidation,Fully Paid
1,14388.0,984336.0,Dec-2015,16.06,Dec-1999,0.0,25764000.0,19.2,38.0,4.0,0.0,78000000.0,10+ years,29640000.0,small_business,Fully Paid
2,12936.0,519192.0,Dec-2015,10.78,Aug-2000,0.0,9442800.0,56.2,18.0,5.0,0.0,75600000.0,10+ years,24000000.0,home_improvement,Fully Paid
3,17820.0,995880.0,Dec-2015,17.06,Sep-2008,0.0,9362400.0,11.6,17.0,1.0,0.0,132000000.0,10+ years,42000000.0,debt_consolidation,Current
4,26940.0,347892.0,Dec-2015,25.37,Jun-1998,0.0,26314800.0,64.5,35.0,6.0,0.0,125319600.0,3 years,12480000.0,major_purchase,Fully Paid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260694,15348.0,652200.0,Oct-2016,19.61,Dec-1999,0.0,59317200.0,84.4,54.0,0.0,0.0,114000000.0,7 years,28800000.0,home_improvement,Current
2260695,12588.0,618888.0,Oct-2016,34.94,Feb-1991,1.0,25998000.0,39.0,58.0,4.0,0.0,129600000.0,10+ years,28800000.0,debt_consolidation,Current
2260696,12588.0,1031472.0,Oct-2016,12.75,Feb-1995,0.0,10359600.0,64.9,37.0,3.0,0.0,272400000.0,9 years,48000000.0,debt_consolidation,Current
2260697,17388.0,677472.0,Oct-2016,18.30,Jul-1999,1.0,21169200.0,68.1,31.0,2.0,0.0,132000000.0,6 years,28800000.0,debt_consolidation,Charged Off
2260698,17388.0,395196.0,Oct-2016,23.36,Jun-1996,0.0,9194400.0,54.0,22.0,1.0,0.0,114000000.0,10+ years,16800000.0,debt_consolidation,Current

In [8]:
data_ver1_clean['purpose'].unique()

array(['debt_consolidation', 'small_business', 'home_improvement',
       'major_purchase', 'credit_card', 'other', 'house', 'car',
       'medical', 'vacation', 'moving', 'renewable_energy', 'wedding',
       'educational'], dtype=object)

In [9]:
data_ver1_clean['loan_status'].unique()

array(['Fully Paid', 'Current', 'Charged Off', 'In Grace Period',
       'Late (31-120 days)', 'Late (16-30 days)', 'Default'], dtype=object)

In [10]:
data_ver1_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2063438 entries, 0 to 2260698
Data columns (total 16 columns):
 #   Column                      Dtype
---  ------                      -----
 0   int_rate                    float64
 1   installment                 float64
 2   issue_d                     object
 3   dti                         float64
 4   earliest_cr_line            object
 5   pub_rec                     float64
 6   revol_bal                   float64
 7   revol_util                  float64
 8   total_acc                   float64
 9   mort_acc                    float64
 10  collections_12_mths_ex_med  float64
 11  annual_inc                  float64
 12  emp_length                  object
 13  loan_amnt                   float64
 14  purpose                     object
 15  loan_status                 object
dtypes: float64(11), object(5)
memory usage: 267.6+ MB

In [11]:
data_ver1_clean['earliest_cr_line'] = pd.to_datetime(data_ver1_clean['earliest_cr_line'])
data_ver1_clean['issue_d'] = pd.to_datetime(data_ver1_clean['issue_d'])

C:\Users\user\AppData\Local\Temp\ipykernel_20100\1460009994.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data_ver1_clean['earliest_cr_line'] = pd.to_datetime(data_ver1_clean['earliest_cr_line'])
C:\Users\user\AppData\Local\Temp\ipykernel_20100\1460009994.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ver1_clean['earliest_cr_line'] = pd.to_datetime(data_ver1_clean['earliest_cr_line'])
C:\Users\user\AppData\Local\Temp\ipykernel_20100\1460009994.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data_ver1_clean['issue_d'] = pd.to_datetime(data_ver1_clean['issue_d'])
C:\Users\user\AppData\Local\Temp\ipykernel_20100\1460009994.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ver1_clean['issue_d'] = pd.to_datetime(data_ver1_clean['issue_d'])

In [12]:
data_ver1_clean

,int_rate,installment,issue_d,dti,earliest_cr_line,pub_rec,revol_bal,revol_util,total_acc,mort_acc,collections_12_mths_ex_med,annual_inc,emp_length,loan_amnt,purpose,loan_status
0,16788.0,147636.0,2015-12-01,5.91,2003-08-01,0.0,3318000.0,29.7,13.0,1.0,0.0,66000000.0,10+ years,4320000.0,debt_consolidation,Fully Paid
1,14388.0,984336.0,2015-12-01,16.06,1999-12-01,0.0,25764000.0,19.2,38.0,4.0,0.0,78000000.0,10+ years,29640000.0,small_business,Fully Paid
2,12936.0,519192.0,2015-12-01,10.78,2000-08-01,0.0,9442800.0,56.2,18.0,5.0,0.0,75600000.0,10+ years,24000000.0,home_improvement,Fully Paid
3,17820.0,995880.0,2015-12-01,17.06,2008-09-01,0.0,9362400.0,11.6,17.0,1.0,0.0,132000000.0,10+ years,42000000.0,debt_consolidation,Current
4,26940.0,347892.0,2015-12-01,25.37,1998-06-01,0.0,26314800.0,64.5,35.0,6.0,0.0,125319600.0,3 years,12480000.0,major_purchase,Fully Paid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260694,15348.0,652200.0,2016-10-01,19.61,1999-12-01,0.0,59317200.0,84.4,54.0,0.0,0.0,114000000.0,7 years,28800000.0,home_improvement,Current
2260695,12588.0,618888.0,2016-10-01,34.94,1991-02-01,1.0,25998000.0,39.0,58.0,4.0,0.0,129600000.0,10+ years,28800000.0,debt_consolidation,Current
2260696,12588.0,1031472.0,2016-10-01,12.75,1995-02-01,0.0,10359600.0,64.9,37.0,3.0,0.0,272400000.0,9 years,48000000.0,debt_consolidation,Current
2260697,17388.0,677472.0,2016-10-01,18.30,1999-07-01,1.0,21169200.0,68.1,31.0,2.0,0.0,132000000.0,6 years,28800000.0,debt_consolidation,Charged Off
2260698,17388.0,395196.0,2016-10-01,23.36,1996-06-01,0.0,9194400.0,54.0,22.0,1.0,0.0,114000000.0,10+ years,16800000.0,debt_consolidation,Current

In [13]:
data_ver2 = data_ver1_clean.copy()

In [14]:
data_ver2['cr_line_period'] = data_ver2['issue_d'] - data_ver2['earliest_cr_line']

In [15]:
data_ver2

,int_rate,installment,issue_d,dti,earliest_cr_line,pub_rec,revol_bal,revol_util,total_acc,mort_acc,collections_12_mths_ex_med,annual_inc,emp_length,loan_amnt,purpose,loan_status,cr_line_period
0,16788.0,147636.0,2015-12-01,5.91,2003-08-01,0.0,3318000.0,29.7,13.0,1.0,0.0,66000000.0,10+ years,4320000.0,debt_consolidation,Fully Paid,4505 days
1,14388.0,984336.0,2015-12-01,16.06,1999-12-01,0.0,25764000.0,19.2,38.0,4.0,0.0,78000000.0,10+ years,29640000.0,small_business,Fully Paid,5844 days
2,12936.0,519192.0,2015-12-01,10.78,2000-08-01,0.0,9442800.0,56.2,18.0,5.0,0.0,75600000.0,10+ years,24000000.0,home_improvement,Fully Paid,5600 days
3,17820.0,995880.0,2015-12-01,17.06,2008-09-01,0.0,9362400.0,11.6,17.0,1.0,0.0,132000000.0,10+ years,42000000.0,debt_consolidation,Current,2647 days
4,26940.0,347892.0,2015-12-01,25.37,1998-06-01,0.0,26314800.0,64.5,35.0,6.0,0.0,125319600.0,3 years,12480000.0,major_purchase,Fully Paid,6392 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260694,15348.0,652200.0,2016-10-01,19.61,1999-12-01,0.0,59317200.0,84.4,54.0,0.0,0.0,114000000.0,7 years,28800000.0,home_improvement,Current,6149 days
2260695,12588.0,618888.0,2016-10-01,34.94,1991-02-01,1.0,25998000.0,39.0,58.0,4.0,0.0,129600000.0,10+ years,28800000.0,debt_consolidation,Current,9374 days
2260696,12588.0,1031472.0,2016-10-01,12.75,1995-02-01,0.0,10359600.0,64.9,37.0,3.0,0.0,272400000.0,9 years,48000000.0,debt_consolidation,Current,7913 days
2260697,17388.0,677472.0,2016-10-01,18.30,1999-07-01,1.0,21169200.0,68.1,31.0,2.0,0.0,132000000.0,6 years,28800000.0,debt_consolidation,Charged Off,6302 days
2260698,17388.0,395196.0,2016-10-01,23.36,1996-06-01,0.0,9194400.0,54.0,22.0,1.0,0.0,114000000.0,10+ years,16800000.0,debt_consolidation,Current,7427 days

In [16]:
data_ver2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2063438 entries, 0 to 2260698
Data columns (total 17 columns):
 #   Column                      Dtype
---  ------                      -----
 0   int_rate                    float64
 1   installment                 float64
 2   issue_d                     datetime64[ns]
 3   dti                         float64
 4   earliest_cr_line            datetime64[ns]
 5   pub_rec                     float64
 6   revol_bal                   float64
 7   revol_util                  float64
 8   total_acc                   float64
 9   mort_acc                    float64
 10  collections_12_mths_ex_med  float64
 11  annual_inc                  float64
 12  emp_length                  object
 13  loan_amnt                   float64
 14  purpose                     object
 15  loan_status                 object
 16  cr_line_period              timedelta64[ns]
dtypes: datetime64[ns](2), float64(11), object(3), timedelta64[ns](1)
memory usage: 283.4+ MB

In [17]:
data_ver2['cr_line_period'] = data_ver2['cr_line_period'].dt.days

In [18]:
data_ver2

,int_rate,installment,issue_d,dti,earliest_cr_line,pub_rec,revol_bal,revol_util,total_acc,mort_acc,collections_12_mths_ex_med,annual_inc,emp_length,loan_amnt,purpose,loan_status,cr_line_period
0,16788.0,147636.0,2015-12-01,5.91,2003-08-01,0.0,3318000.0,29.7,13.0,1.0,0.0,66000000.0,10+ years,4320000.0,debt_consolidation,Fully Paid,4505
1,14388.0,984336.0,2015-12-01,16.06,1999-12-01,0.0,25764000.0,19.2,38.0,4.0,0.0,78000000.0,10+ years,29640000.0,small_business,Fully Paid,5844
2,12936.0,519192.0,2015-12-01,10.78,2000-08-01,0.0,9442800.0,56.2,18.0,5.0,0.0,75600000.0,10+ years,24000000.0,home_improvement,Fully Paid,5600
3,17820.0,995880.0,2015-12-01,17.06,2008-09-01,0.0,9362400.0,11.6,17.0,1.0,0.0,132000000.0,10+ years,42000000.0,debt_consolidation,Current,2647
4,26940.0,347892.0,2015-12-01,25.37,1998-06-01,0.0,26314800.0,64.5,35.0,6.0,0.0,125319600.0,3 years,12480000.0,major_purchase,Fully Paid,6392
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260694,15348.0,652200.0,2016-10-01,19.61,1999-12-01,0.0,59317200.0,84.4,54.0,0.0,0.0,114000000.0,7 years,28800000.0,home_improvement,Current,6149
2260695,12588.0,618888.0,2016-10-01,34.94,1991-02-01,1.0,25998000.0,39.0,58.0,4.0,0.0,129600000.0,10+ years,28800000.0,debt_consolidation,Current,9374
2260696,12588.0,1031472.0,2016-10-01,12.75,1995-02-01,0.0,10359600.0,64.9,37.0,3.0,0.0,272400000.0,9 years,48000000.0,debt_consolidation,Current,7913
2260697,17388.0,677472.0,2016-10-01,18.30,1999-07-01,1.0,21169200.0,68.1,31.0,2.0,0.0,132000000.0,6 years,28800000.0,debt_consolidation,Charged Off,6302
2260698,17388.0,395196.0,2016-10-01,23.36,1996-06-01,0.0,9194400.0,54.0,22.0,1.0,0.0,114000000.0,10+ years,16800000.0,debt_consolidation,Current,7427

In [19]:
data_ver2['cr_line_period'] = data_ver2['cr_line_period'] // 365
data_ver2

,int_rate,installment,issue_d,dti,earliest_cr_line,pub_rec,revol_bal,revol_util,total_acc,mort_acc,collections_12_mths_ex_med,annual_inc,emp_length,loan_amnt,purpose,loan_status,cr_line_period
0,16788.0,147636.0,2015-12-01,5.91,2003-08-01,0.0,3318000.0,29.7,13.0,1.0,0.0,66000000.0,10+ years,4320000.0,debt_consolidation,Fully Paid,12
1,14388.0,984336.0,2015-12-01,16.06,1999-12-01,0.0,25764000.0,19.2,38.0,4.0,0.0,78000000.0,10+ years,29640000.0,small_business,Fully Paid,16
2,12936.0,519192.0,2015-12-01,10.78,2000-08-01,0.0,9442800.0,56.2,18.0,5.0,0.0,75600000.0,10+ years,24000000.0,home_improvement,Fully Paid,15
3,17820.0,995880.0,2015-12-01,17.06,2008-09-01,0.0,9362400.0,11.6,17.0,1.0,0.0,132000000.0,10+ years,42000000.0,debt_consolidation,Current,7
4,26940.0,347892.0,2015-12-01,25.37,1998-06-01,0.0,26314800.0,64.5,35.0,6.0,0.0,125319600.0,3 years,12480000.0,major_purchase,Fully Paid,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260694,15348.0,652200.0,2016-10-01,19.61,1999-12-01,0.0,59317200.0,84.4,54.0,0.0,0.0,114000000.0,7 years,28800000.0,home_improvement,Current,16
2260695,12588.0,618888.0,2016-10-01,34.94,1991-02-01,1.0,25998000.0,39.0,58.0,4.0,0.0,129600000.0,10+ years,28800000.0,debt_consolidation,Current,25
2260696,12588.0,1031472.0,2016-10-01,12.75,1995-02-01,0.0,10359600.0,64.9,37.0,3.0,0.0,272400000.0,9 years,48000000.0,debt_consolidation,Current,21
2260697,17388.0,677472.0,2016-10-01,18.30,1999-07-01,1.0,21169200.0,68.1,31.0,2.0,0.0,132000000.0,6 years,28800000.0,debt_consolidation,Charged Off,17
2260698,17388.0,395196.0,2016-10-01,23.36,1996-06-01,0.0,9194400.0,54.0,22.0,1.0,0.0,114000000.0,10+ years,16800000.0,debt_consolidation,Current,20

In [20]:
import datetime

now = datetime.datetime.now()

data_ver2['issue_d_period'] = now - data_ver2['issue_d']

In [21]:
data_ver2

,int_rate,installment,issue_d,dti,earliest_cr_line,pub_rec,revol_bal,revol_util,total_acc,mort_acc,collections_12_mths_ex_med,annual_inc,emp_length,loan_amnt,purpose,loan_status,cr_line_period,issue_d_period
0,16788.0,147636.0,2015-12-01,5.91,2003-08-01,0.0,3318000.0,29.7,13.0,1.0,0.0,66000000.0,10+ years,4320000.0,debt_consolidation,Fully Paid,12,3299 days 10:23:36.275411
1,14388.0,984336.0,2015-12-01,16.06,1999-12-01,0.0,25764000.0,19.2,38.0,4.0,0.0,78000000.0,10+ years,29640000.0,small_business,Fully Paid,16,3299 days 10:23:36.275411
2,12936.0,519192.0,2015-12-01,10.78,2000-08-01,0.0,9442800.0,56.2,18.0,5.0,0.0,75600000.0,10+ years,24000000.0,home_improvement,Fully Paid,15,3299 days 10:23:36.275411
3,17820.0,995880.0,2015-12-01,17.06,2008-09-01,0.0,9362400.0,11.6,17.0,1.0,0.0,132000000.0,10+ years,42000000.0,debt_consolidation,Current,7,3299 days 10:23:36.275411
4,26940.0,347892.0,2015-12-01,25.37,1998-06-01,0.0,26314800.0,64.5,35.0,6.0,0.0,125319600.0,3 years,12480000.0,major_purchase,Fully Paid,17,3299 days 10:23:36.275411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260694,15348.0,652200.0,2016-10-01,19.61,1999-12-01,0.0,59317200.0,84.4,54.0,0.0,0.0,114000000.0,7 years,28800000.0,home_improvement,Current,16,2994 days 10:23:36.275411
2260695,12588.0,618888.0,2016-10-01,34.94,1991-02-01,1.0,25998000.0,39.0,58.0,4.0,0.0,129600000.0,10+ years,28800000.0,debt_consolidation,Current,25,2994 days 10:23:36.275411
2260696,12588.0,1031472.0,2016-10-01,12.75,1995-02-01,0.0,10359600.0,64.9,37.0,3.0,0.0,272400000.0,9 years,48000000.0,debt_consolidation,Current,21,2994 days 10:23:36.275411
2260697,17388.0,677472.0,2016-10-01,18.30,1999-07-01,1.0,21169200.0,68.1,31.0,2.0,0.0,132000000.0,6 years,28800000.0,debt_consolidation,Charged Off,17,2994 days 10:23:36.275411
2260698,17388.0,395196.0,2016-10-01,23.36,1996-06-01,0.0,9194400.0,54.0,22.0,1.0,0.0,114000000.0,10+ years,16800000.0,debt_consolidation,Current,20,2994 days 10:23:36.275411

In [22]:
data_ver2['issue_d_period'] = data_ver2['issue_d_period'].dt.days

In [23]:
data_ver2['issue_d_period'] = data_ver2['issue_d_period'] // 365

In [24]:
data_ver2

,int_rate,installment,issue_d,dti,earliest_cr_line,pub_rec,revol_bal,revol_util,total_acc,mort_acc,collections_12_mths_ex_med,annual_inc,emp_length,loan_amnt,purpose,loan_status,cr_line_period,issue_d_period
0,16788.0,147636.0,2015-12-01,5.91,2003-08-01,0.0,3318000.0,29.7,13.0,1.0,0.0,66000000.0,10+ years,4320000.0,debt_consolidation,Fully Paid,12,9
1,14388.0,984336.0,2015-12-01,16.06,1999-12-01,0.0,25764000.0,19.2,38.0,4.0,0.0,78000000.0,10+ years,29640000.0,small_business,Fully Paid,16,9
2,12936.0,519192.0,2015-12-01,10.78,2000-08-01,0.0,9442800.0,56.2,18.0,5.0,0.0,75600000.0,10+ years,24000000.0,home_improvement,Fully Paid,15,9
3,17820.0,995880.0,2015-12-01,17.06,2008-09-01,0.0,9362400.0,11.6,17.0,1.0,0.0,132000000.0,10+ years,42000000.0,debt_consolidation,Current,7,9
4,26940.0,347892.0,2015-12-01,25.37,1998-06-01,0.0,26314800.0,64.5,35.0,6.0,0.0,125319600.0,3 years,12480000.0,major_purchase,Fully Paid,17,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260694,15348.0,652200.0,2016-10-01,19.61,1999-12-01,0.0,59317200.0,84.4,54.0,0.0,0.0,114000000.0,7 years,28800000.0,home_improvement,Current,16,8
2260695,12588.0,618888.0,2016-10-01,34.94,1991-02-01,1.0,25998000.0,39.0,58.0,4.0,0.0,129600000.0,10+ years,28800000.0,debt_consolidation,Current,25,8
2260696,12588.0,1031472.0,2016-10-01,12.75,1995-02-01,0.0,10359600.0,64.9,37.0,3.0,0.0,272400000.0,9 years,48000000.0,debt_consolidation,Current,21,8
2260697,17388.0,677472.0,2016-10-01,18.30,1999-07-01,1.0,21169200.0,68.1,31.0,2.0,0.0,132000000.0,6 years,28800000.0,debt_consolidation,Charged Off,17,8
2260698,17388.0,395196.0,2016-10-01,23.36,1996-06-01,0.0,9194400.0,54.0,22.0,1.0,0.0,114000000.0,10+ years,16800000.0,debt_consolidation,Current,20,8

In [25]:
data_ver3 = data_ver2.assign(emplength = np.where(data_ver2['emp_length'] == '10+ years', 10,
                                                    np.where(data_ver2['emp_length'] == '9 years', 9,
                                                    np.where(data_ver2['emp_length'] == '8 years', 8,
                                                    np.where(data_ver2['emp_length'] == '7 years', 7,
                                                    np.where(data_ver2['emp_length'] == '6 years', 6,
                                                    np.where(data_ver2['emp_length'] == '5 years', 5,
                                                    np.where(data_ver2['emp_length'] == '4 years', 4,
                                                    np.where(data_ver2['emp_length'] == '3 years', 3,
                                                    np.where(data_ver2['emp_length'] == '2 years', 2,
                                                    np.where(data_ver2['emp_length'] == '1 year', 1, 0)))))))))))

In [26]:
data_ver3

,int_rate,installment,issue_d,dti,earliest_cr_line,pub_rec,revol_bal,revol_util,total_acc,mort_acc,collections_12_mths_ex_med,annual_inc,emp_length,loan_amnt,purpose,loan_status,cr_line_period,issue_d_period,emplength
0,16788.0,147636.0,2015-12-01,5.91,2003-08-01,0.0,3318000.0,29.7,13.0,1.0,0.0,66000000.0,10+ years,4320000.0,debt_consolidation,Fully Paid,12,9,10
1,14388.0,984336.0,2015-12-01,16.06,1999-12-01,0.0,25764000.0,19.2,38.0,4.0,0.0,78000000.0,10+ years,29640000.0,small_business,Fully Paid,16,9,10
2,12936.0,519192.0,2015-12-01,10.78,2000-08-01,0.0,9442800.0,56.2,18.0,5.0,0.0,75600000.0,10+ years,24000000.0,home_improvement,Fully Paid,15,9,10
3,17820.0,995880.0,2015-12-01,17.06,2008-09-01,0.0,9362400.0,11.6,17.0,1.0,0.0,132000000.0,10+ years,42000000.0,debt_consolidation,Current,7,9,10
4,26940.0,347892.0,2015-12-01,25.37,1998-06-01,0.0,26314800.0,64.5,35.0,6.0,0.0,125319600.0,3 years,12480000.0,major_purchase,Fully Paid,17,9,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260694,15348.0,652200.0,2016-10-01,19.61,1999-12-01,0.0,59317200.0,84.4,54.0,0.0,0.0,114000000.0,7 years,28800000.0,home_improvement,Current,16,8,7
2260695,12588.0,618888.0,2016-10-01,34.94,1991-02-01,1.0,25998000.0,39.0,58.0,4.0,0.0,129600000.0,10+ years,28800000.0,debt_consolidation,Current,25,8,10
2260696,12588.0,1031472.0,2016-10-01,12.75,1995-02-01,0.0,10359600.0,64.9,37.0,3.0,0.0,272400000.0,9 years,48000000.0,debt_consolidation,Current,21,8,9
2260697,17388.0,677472.0,2016-10-01,18.30,1999-07-01,1.0,21169200.0,68.1,31.0,2.0,0.0,132000000.0,6 years,28800000.0,debt_consolidation,Charged Off,17,8,6
2260698,17388.0,395196.0,2016-10-01,23.36,1996-06-01,0.0,9194400.0,54.0,22.0,1.0,0.0,114000000.0,10+ years,16800000.0,debt_consolidation,Current,20,8,10

In [27]:
data_ver3 = data_ver3.drop(labels = ['issue_d', 'earliest_cr_line'], axis = 1)

In [28]:
data_ver3

,int_rate,installment,dti,pub_rec,revol_bal,revol_util,total_acc,mort_acc,collections_12_mths_ex_med,annual_inc,emp_length,loan_amnt,purpose,loan_status,cr_line_period,issue_d_period,emplength
0,16788.0,147636.0,5.91,0.0,3318000.0,29.7,13.0,1.0,0.0,66000000.0,10+ years,4320000.0,debt_consolidation,Fully Paid,12,9,10
1,14388.0,984336.0,16.06,0.0,25764000.0,19.2,38.0,4.0,0.0,78000000.0,10+ years,29640000.0,small_business,Fully Paid,16,9,10
2,12936.0,519192.0,10.78,0.0,9442800.0,56.2,18.0,5.0,0.0,75600000.0,10+ years,24000000.0,home_improvement,Fully Paid,15,9,10
3,17820.0,995880.0,17.06,0.0,9362400.0,11.6,17.0,1.0,0.0,132000000.0,10+ years,42000000.0,debt_consolidation,Current,7,9,10
4,26940.0,347892.0,25.37,0.0,26314800.0,64.5,35.0,6.0,0.0,125319600.0,3 years,12480000.0,major_purchase,Fully Paid,17,9,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260694,15348.0,652200.0,19.61,0.0,59317200.0,84.4,54.0,0.0,0.0,114000000.0,7 years,28800000.0,home_improvement,Current,16,8,7
2260695,12588.0,618888.0,34.94,1.0,25998000.0,39.0,58.0,4.0,0.0,129600000.0,10+ years,28800000.0,debt_consolidation,Current,25,8,10
2260696,12588.0,1031472.0,12.75,0.0,10359600.0,64.9,37.0,3.0,0.0,272400000.0,9 years,48000000.0,debt_consolidation,Current,21,8,9
2260697,17388.0,677472.0,18.30,1.0,21169200.0,68.1,31.0,2.0,0.0,132000000.0,6 years,28800000.0,debt_consolidation,Charged Off,17,8,6
2260698,17388.0,395196.0,23.36,0.0,9194400.0,54.0,22.0,1.0,0.0,114000000.0,10+ years,16800000.0,debt_consolidation,Current,20,8,10

In [29]:
data_ver3['int_rate'] = data_ver3['int_rate'] / 1200

In [30]:
data_ver3

,int_rate,installment,dti,pub_rec,revol_bal,revol_util,total_acc,mort_acc,collections_12_mths_ex_med,annual_inc,emp_length,loan_amnt,purpose,loan_status,cr_line_period,issue_d_period,emplength
0,13.99,147636.0,5.91,0.0,3318000.0,29.7,13.0,1.0,0.0,66000000.0,10+ years,4320000.0,debt_consolidation,Fully Paid,12,9,10
1,11.99,984336.0,16.06,0.0,25764000.0,19.2,38.0,4.0,0.0,78000000.0,10+ years,29640000.0,small_business,Fully Paid,16,9,10
2,10.78,519192.0,10.78,0.0,9442800.0,56.2,18.0,5.0,0.0,75600000.0,10+ years,24000000.0,home_improvement,Fully Paid,15,9,10
3,14.85,995880.0,17.06,0.0,9362400.0,11.6,17.0,1.0,0.0,132000000.0,10+ years,42000000.0,debt_consolidation,Current,7,9,10
4,22.45,347892.0,25.37,0.0,26314800.0,64.5,35.0,6.0,0.0,125319600.0,3 years,12480000.0,major_purchase,Fully Paid,17,9,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260694,12.79,652200.0,19.61,0.0,59317200.0,84.4,54.0,0.0,0.0,114000000.0,7 years,28800000.0,home_improvement,Current,16,8,7
2260695,10.49,618888.0,34.94,1.0,25998000.0,39.0,58.0,4.0,0.0,129600000.0,10+ years,28800000.0,debt_consolidation,Current,25,8,10
2260696,10.49,1031472.0,12.75,0.0,10359600.0,64.9,37.0,3.0,0.0,272400000.0,9 years,48000000.0,debt_consolidation,Current,21,8,9
2260697,14.49,677472.0,18.30,1.0,21169200.0,68.1,31.0,2.0,0.0,132000000.0,6 years,28800000.0,debt_consolidation,Charged Off,17,8,6
2260698,14.49,395196.0,23.36,0.0,9194400.0,54.0,22.0,1.0,0.0,114000000.0,10+ years,16800000.0,debt_consolidation,Current,20,8,10

In [31]:
data_ver3['purpose'].unique()

array(['debt_consolidation', 'small_business', 'home_improvement',
       'major_purchase', 'credit_card', 'other', 'house', 'car',
       'medical', 'vacation', 'moving', 'renewable_energy', 'wedding',
       'educational'], dtype=object)

In [32]:
data_ver3_20 = data_ver3.tail(20000)
data_ver3_20['loan_status'].unique()

array(['Fully Paid', 'Charged Off', 'Current', 'In Grace Period',
       'Late (31-120 days)', 'Late (16-30 days)', 'Default'], dtype=object)

In [33]:
pd.set_option('float_format', '{:.2f}'.format)
data_ver3_20.describe()

,int_rate,installment,dti,pub_rec,revol_bal,revol_util,total_acc,mort_acc,collections_12_mths_ex_med,annual_inc,loan_amnt,cr_line_period,issue_d_period,emplength
count,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00
mean,13.59,525280.27,18.50,0.26,19655165.88,49.18,24.60,1.52,0.02,100133760.71,17298232.50,15.98,8.00,6.11
std,4.92,335603.55,9.61,0.67,26884778.82,24.09,11.98,1.80,0.15,101803473.51,11196837.04,7.36,0.00,3.70
min,5.32,36144.00,0.00,0.00,0.00,0.00,2.00,0.00,0.00,3600000.00,1200000.00,3.00,8.00,0.00
25%,10.49,282288.00,12.34,0.00,7124100.00,30.70,16.00,0.00,0.00,60000000.00,8640000.00,11.00,8.00,3.00
50%,12.79,433776.00,18.00,0.00,13261200.00,48.60,23.00,1.00,0.00,84000000.00,14400000.00,15.00,8.00,6.00
75%,15.59,701952.00,24.31,0.00,23654100.00,67.50,31.00,3.00,0.00,118800000.00,24000000.00,20.00,8.00,10.00
max,30.99,1759248.00,551.20,14.00,718522800.00,139.90,104.00,23.00,4.00,8400000000.00,48000000.00,55.00,8.00,10.00

In [34]:
data_ver3['loan_status'].unique()

array(['Fully Paid', 'Current', 'Charged Off', 'In Grace Period',
       'Late (31-120 days)', 'Late (16-30 days)', 'Default'], dtype=object)

In [35]:
data_ver3_target = data_ver3.assign(target = np.where(data_ver3['loan_status'] == 'Fully Paid', 0,
                                            np.where((data_ver3['loan_status'] == 'Late (31-120 days)') | (data_ver3['loan_status'] == 'Late (16-30 days)'), 1,
                                            np.where((data_ver3['loan_status'] == 'Default') | (data_ver3['loan_status'] == 'Charged Off'), 2, np.nan))))

In [36]:
data_ver3_target

,int_rate,installment,dti,pub_rec,revol_bal,revol_util,total_acc,mort_acc,collections_12_mths_ex_med,annual_inc,emp_length,loan_amnt,purpose,loan_status,cr_line_period,issue_d_period,emplength,target
0,13.99,147636.00,5.91,0.00,3318000.00,29.70,13.00,1.00,0.00,66000000.00,10+ years,4320000.00,debt_consolidation,Fully Paid,12,9,10,0.00
1,11.99,984336.00,16.06,0.00,25764000.00,19.20,38.00,4.00,0.00,78000000.00,10+ years,29640000.00,small_business,Fully Paid,16,9,10,0.00
2,10.78,519192.00,10.78,0.00,9442800.00,56.20,18.00,5.00,0.00,75600000.00,10+ years,24000000.00,home_improvement,Fully Paid,15,9,10,0.00
3,14.85,995880.00,17.06,0.00,9362400.00,11.60,17.00,1.00,0.00,132000000.00,10+ years,42000000.00,debt_consolidation,Current,7,9,10,NaN
4,22.45,347892.00,25.37,0.00,26314800.00,64.50,35.00,6.00,0.00,125319600.00,3 years,12480000.00,major_purchase,Fully Paid,17,9,3,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260694,12.79,652200.00,19.61,0.00,59317200.00,84.40,54.00,0.00,0.00,114000000.00,7 years,28800000.00,home_improvement,Current,16,8,7,NaN
2260695,10.49,618888.00,34.94,1.00,25998000.00,39.00,58.00,4.00,0.00,129600000.00,10+ years,28800000.00,debt_consolidation,Current,25,8,10,NaN
2260696,10.49,1031472.00,12.75,0.00,10359600.00,64.90,37.00,3.00,0.00,272400000.00,9 years,48000000.00,debt_consolidation,Current,21,8,9,NaN
2260697,14.49,677472.00,18.30,1.00,21169200.00,68.10,31.00,2.00,0.00,132000000.00,6 years,28800000.00,debt_consolidation,Charged Off,17,8,6,2.00
2260698,14.49,395196.00,23.36,0.00,9194400.00,54.00,22.00,1.00,0.00,114000000.00,10+ years,16800000.00,debt_consolidation,Current,20,8,10,NaN

In [37]:
data_ver3_target = data_ver3_target.dropna(axis = 0)
data_ver3_target

,int_rate,installment,dti,pub_rec,revol_bal,revol_util,total_acc,mort_acc,collections_12_mths_ex_med,annual_inc,emp_length,loan_amnt,purpose,loan_status,cr_line_period,issue_d_period,emplength,target
0,13.99,147636.00,5.91,0.00,3318000.00,29.70,13.00,1.00,0.00,66000000.00,10+ years,4320000.00,debt_consolidation,Fully Paid,12,9,10,0.00
1,11.99,984336.00,16.06,0.00,25764000.00,19.20,38.00,4.00,0.00,78000000.00,10+ years,29640000.00,small_business,Fully Paid,16,9,10,0.00
2,10.78,519192.00,10.78,0.00,9442800.00,56.20,18.00,5.00,0.00,75600000.00,10+ years,24000000.00,home_improvement,Fully Paid,15,9,10,0.00
4,22.45,347892.00,25.37,0.00,26314800.00,64.50,35.00,6.00,0.00,125319600.00,3 years,12480000.00,major_purchase,Fully Paid,17,9,3,0.00
5,13.44,486216.00,10.20,0.00,10586400.00,68.40,6.00,0.00,0.00,40800000.00,4 years,14340000.00,debt_consolidation,Fully Paid,28,9,4,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260688,9.49,453540.00,20.59,0.00,28599600.00,34.00,39.00,3.00,0.00,156000000.00,5 years,21600000.00,home_improvement,Fully Paid,12,8,5,0.00
2260690,13.99,820728.00,22.03,0.00,92976000.00,85.20,32.00,3.00,0.00,216950400.00,9 years,35280000.00,debt_consolidation,Fully Paid,14,8,9,0.00
2260691,14.49,903288.00,10.34,0.00,133917600.00,27.40,18.00,3.00,0.00,188400000.00,3 years,38400000.00,home_improvement,Charged Off,5,8,3,2.00
2260692,12.79,434808.00,12.25,4.00,9240000.00,55.00,28.00,0.00,0.00,180000000.00,10+ years,19200000.00,medical,Fully Paid,19,8,10,0.00
2260697,14.49,677472.00,18.30,1.00,21169200.00,68.10,31.00,2.00,0.00,132000000.00,6 years,28800000.00,debt_consolidation,Charged Off,17,8,6,2.00

In [38]:
data_ver3_target['target'] = data_ver3_target['target'].astype(int)

C:\Users\user\AppData\Local\Temp\ipykernel_20100\3988958105.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ver3_target['target'] = data_ver3_target['target'].astype(int)

In [39]:
data_ver3_target

,int_rate,installment,dti,pub_rec,revol_bal,revol_util,total_acc,mort_acc,collections_12_mths_ex_med,annual_inc,emp_length,loan_amnt,purpose,loan_status,cr_line_period,issue_d_period,emplength,target
0,13.99,147636.00,5.91,0.00,3318000.00,29.70,13.00,1.00,0.00,66000000.00,10+ years,4320000.00,debt_consolidation,Fully Paid,12,9,10,0
1,11.99,984336.00,16.06,0.00,25764000.00,19.20,38.00,4.00,0.00,78000000.00,10+ years,29640000.00,small_business,Fully Paid,16,9,10,0
2,10.78,519192.00,10.78,0.00,9442800.00,56.20,18.00,5.00,0.00,75600000.00,10+ years,24000000.00,home_improvement,Fully Paid,15,9,10,0
4,22.45,347892.00,25.37,0.00,26314800.00,64.50,35.00,6.00,0.00,125319600.00,3 years,12480000.00,major_purchase,Fully Paid,17,9,3,0
5,13.44,486216.00,10.20,0.00,10586400.00,68.40,6.00,0.00,0.00,40800000.00,4 years,14340000.00,debt_consolidation,Fully Paid,28,9,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260688,9.49,453540.00,20.59,0.00,28599600.00,34.00,39.00,3.00,0.00,156000000.00,5 years,21600000.00,home_improvement,Fully Paid,12,8,5,0
2260690,13.99,820728.00,22.03,0.00,92976000.00,85.20,32.00,3.00,0.00,216950400.00,9 years,35280000.00,debt_consolidation,Fully Paid,14,8,9,0
2260691,14.49,903288.00,10.34,0.00,133917600.00,27.40,18.00,3.00,0.00,188400000.00,3 years,38400000.00,home_improvement,Charged Off,5,8,3,2
2260692,12.79,434808.00,12.25,4.00,9240000.00,55.00,28.00,0.00,0.00,180000000.00,10+ years,19200000.00,medical,Fully Paid,19,8,10,0
2260697,14.49,677472.00,18.30,1.00,21169200.00,68.10,31.00,2.00,0.00,132000000.00,6 years,28800000.00,debt_consolidation,Charged Off,17,8,6,2

In [40]:
data_ver3_target_2 = data_ver3_target[data_ver3_target['target'] == 2]
data_ver3_target_2

,int_rate,installment,dti,pub_rec,revol_bal,revol_util,total_acc,mort_acc,collections_12_mths_ex_med,annual_inc,emp_length,loan_amnt,purpose,loan_status,cr_line_period,issue_d_period,emplength,target
13,19.48,566040.00,9.39,1.00,16862400.00,40.70,27.00,2.00,0.00,180000000.00,7 years,21600000.00,debt_consolidation,Charged Off,10,9,7,2
25,14.85,175392.00,15.22,0.00,1269600.00,24.60,6.00,0.00,0.00,42000000.00,5 years,5070000.00,debt_consolidation,Charged Off,4,9,5,2
30,12.88,645816.00,18.96,1.00,6188400.00,54.30,20.00,0.00,0.00,78000000.00,10+ years,19200000.00,small_business,Charged Off,30,9,10,2
31,24.24,841212.00,20.84,0.00,29758800.00,65.30,21.00,2.00,0.00,90000000.00,4 years,29100000.00,debt_consolidation,Charged Off,8,9,4,2
33,13.99,697896.00,34.53,0.00,27022800.00,18.60,72.00,6.00,0.00,94800000.00,9 years,30000000.00,debt_consolidation,Charged Off,14,9,9,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260673,13.99,893304.00,29.89,0.00,53822400.00,41.60,38.00,7.00,0.00,150000000.00,10+ years,38400000.00,debt_consolidation,Charged Off,21,8,10,2
2260677,13.49,309192.00,4.80,2.00,15097200.00,54.70,14.00,0.00,0.00,103200000.00,5 years,13440000.00,debt_consolidation,Charged Off,22,8,5,2
2260685,14.49,1027488.00,21.50,0.00,66867600.00,79.80,24.00,6.00,0.00,114000000.00,5 years,43680000.00,credit_card,Charged Off,29,8,5,2
2260691,14.49,903288.00,10.34,0.00,133917600.00,27.40,18.00,3.00,0.00,188400000.00,3 years,38400000.00,home_improvement,Charged Off,5,8,3,2
2260697,14.49,677472.00,18.30,1.00,21169200.00,68.10,31.00,2.00,0.00,132000000.00,6 years,28800000.00,debt_consolidation,Charged Off,17,8,6,2

In [41]:
data_ver3_target_1 = data_ver3_target[data_ver3_target['target'] == 1]
data_ver3_target_1

,int_rate,installment,dti,pub_rec,revol_bal,revol_util,total_acc,mort_acc,collections_12_mths_ex_med,annual_inc,emp_length,loan_amnt,purpose,loan_status,cr_line_period,issue_d_period,emplength,target
227,14.85,455268.00,16.65,1.00,12190800.00,51.80,20.00,0.00,0.00,108000000.00,10+ years,19200000.00,credit_card,Late (31-120 days),13,9,10,1
349,10.78,726876.00,26.15,0.00,45214800.00,60.40,30.00,3.00,0.00,162000000.00,3 years,33600000.00,debt_consolidation,Late (31-120 days),19,9,3,1
437,8.49,265836.00,12.25,0.00,44916000.00,49.10,26.00,4.00,0.00,115200000.00,9 years,12960000.00,car,Late (31-120 days),10,9,9,1
457,11.99,347712.00,29.56,0.00,9588000.00,38.60,33.00,4.00,0.00,72000000.00,10+ years,10470000.00,debt_consolidation,Late (31-120 days),20,9,10,1
630,14.85,796704.00,24.02,0.00,22228800.00,31.30,31.00,3.00,0.00,132000000.00,10+ years,33600000.00,debt_consolidation,Late (31-120 days),19,9,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260373,16.99,941112.00,23.61,0.00,21154800.00,67.00,18.00,0.00,0.00,74400000.00,10+ years,26400000.00,debt_consolidation,Late (31-120 days),18,8,10,1
2260425,17.99,487452.00,15.74,0.00,5539200.00,30.40,13.00,0.00,0.00,80400000.00,10+ years,19200000.00,credit_card,Late (16-30 days),13,8,10,1
2260426,19.99,794652.00,22.71,0.00,20912400.00,78.50,23.00,3.00,0.00,108000000.00,10+ years,30000000.00,debt_consolidation,Late (31-120 days),10,8,10,1
2260442,12.79,580488.00,22.03,0.00,16869600.00,93.70,13.00,0.00,0.00,90000000.00,2 years,17280000.00,debt_consolidation,Late (31-120 days),12,8,2,1
2260573,15.59,647832.00,25.32,0.00,36948000.00,42.60,34.00,0.00,0.00,96000000.00,10+ years,26880000.00,credit_card,Late (16-30 days),9,8,10,1

In [42]:
data_ver3_target_0 = data_ver3_target[data_ver3_target['target'] == 0]
data_ver3_target_0

,int_rate,installment,dti,pub_rec,revol_bal,revol_util,total_acc,mort_acc,collections_12_mths_ex_med,annual_inc,emp_length,loan_amnt,purpose,loan_status,cr_line_period,issue_d_period,emplength,target
0,13.99,147636.00,5.91,0.00,3318000.00,29.70,13.00,1.00,0.00,66000000.00,10+ years,4320000.00,debt_consolidation,Fully Paid,12,9,10,0
1,11.99,984336.00,16.06,0.00,25764000.00,19.20,38.00,4.00,0.00,78000000.00,10+ years,29640000.00,small_business,Fully Paid,16,9,10,0
2,10.78,519192.00,10.78,0.00,9442800.00,56.20,18.00,5.00,0.00,75600000.00,10+ years,24000000.00,home_improvement,Fully Paid,15,9,10,0
4,22.45,347892.00,25.37,0.00,26314800.00,64.50,35.00,6.00,0.00,125319600.00,3 years,12480000.00,major_purchase,Fully Paid,17,9,3,0
5,13.44,486216.00,10.20,0.00,10586400.00,68.40,6.00,0.00,0.00,40800000.00,4 years,14340000.00,debt_consolidation,Fully Paid,28,9,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260684,10.49,584964.00,26.40,0.00,58384800.00,36.10,42.00,2.00,0.00,72000000.00,8 years,18000000.00,debt_consolidation,Fully Paid,36,8,8,0
2260686,14.49,671820.00,32.73,0.00,129296400.00,89.50,29.00,5.00,0.00,142800000.00,10+ years,28560000.00,debt_consolidation,Fully Paid,24,8,10,0
2260688,9.49,453540.00,20.59,0.00,28599600.00,34.00,39.00,3.00,0.00,156000000.00,5 years,21600000.00,home_improvement,Fully Paid,12,8,5,0
2260690,13.99,820728.00,22.03,0.00,92976000.00,85.20,32.00,3.00,0.00,216950400.00,9 years,35280000.00,debt_consolidation,Fully Paid,14,8,9,0
2260692,12.79,434808.00,12.25,4.00,9240000.00,55.00,28.00,0.00,0.00,180000000.00,10+ years,19200000.00,medical,Fully Paid,19,8,10,0

In [43]:
data_ver3_target = data_ver3_target.drop(['loan_status', 'emp_length'], axis = 1)

In [44]:
data_ver3_target['purpose'].unique()

array(['debt_consolidation', 'small_business', 'home_improvement',
       'major_purchase', 'credit_card', 'other', 'house', 'car',
       'medical', 'vacation', 'moving', 'renewable_energy', 'wedding',
       'educational'], dtype=object)

In [45]:
data_ver4 = data_ver3_target.assign(loan_purpose = np.where(data_ver3_target['purpose'] == 'debt_consolidation', 0,
                                                    np.where(data_ver3_target['purpose'] == 'credit_card', 1,
                                                    np.where(data_ver3_target['purpose'] == 'home_improvement', 2,
                                                    np.where(data_ver3_target['purpose'] == 'major_purchase', 3,
                                                    np.where(data_ver3_target['purpose'] == 'medical', 4,
                                                    np.where(data_ver3_target['purpose'] == 'small_business', 5,
                                                    np.where(data_ver3_target['purpose'] == 'car', 6,
                                                    np.where(data_ver3_target['purpose'] == 'vacation', 7,
                                                    np.where(data_ver3_target['purpose'] == 'moving', 8,
                                                    np.where(data_ver3_target['purpose'] == 'house', 9,
                                                    np.where(data_ver3_target['purpose'] == 'wedding', 10,
                                                    np.where(data_ver3_target['purpose'] == 'educational', 11,
                                                    np.where(data_ver3_target['purpose'] == 'other', 12, np.nan))))))))))))))

In [46]:
data_ver4_clean = data_ver4.dropna(axis = 0)
data_ver4_clean

,int_rate,installment,dti,pub_rec,revol_bal,revol_util,total_acc,mort_acc,collections_12_mths_ex_med,annual_inc,loan_amnt,purpose,cr_line_period,issue_d_period,emplength,target,loan_purpose
0,13.99,147636.00,5.91,0.00,3318000.00,29.70,13.00,1.00,0.00,66000000.00,4320000.00,debt_consolidation,12,9,10,0,0.00
1,11.99,984336.00,16.06,0.00,25764000.00,19.20,38.00,4.00,0.00,78000000.00,29640000.00,small_business,16,9,10,0,5.00
2,10.78,519192.00,10.78,0.00,9442800.00,56.20,18.00,5.00,0.00,75600000.00,24000000.00,home_improvement,15,9,10,0,2.00
4,22.45,347892.00,25.37,0.00,26314800.00,64.50,35.00,6.00,0.00,125319600.00,12480000.00,major_purchase,17,9,3,0,3.00
5,13.44,486216.00,10.20,0.00,10586400.00,68.40,6.00,0.00,0.00,40800000.00,14340000.00,debt_consolidation,28,9,4,0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260688,9.49,453540.00,20.59,0.00,28599600.00,34.00,39.00,3.00,0.00,156000000.00,21600000.00,home_improvement,12,8,5,0,2.00
2260690,13.99,820728.00,22.03,0.00,92976000.00,85.20,32.00,3.00,0.00,216950400.00,35280000.00,debt_consolidation,14,8,9,0,0.00
2260691,14.49,903288.00,10.34,0.00,133917600.00,27.40,18.00,3.00,0.00,188400000.00,38400000.00,home_improvement,5,8,3,2,2.00
2260692,12.79,434808.00,12.25,4.00,9240000.00,55.00,28.00,0.00,0.00,180000000.00,19200000.00,medical,19,8,10,0,4.00
2260697,14.49,677472.00,18.30,1.00,21169200.00,68.10,31.00,2.00,0.00,132000000.00,28800000.00,debt_consolidation,17,8,6,2,0.00

In [47]:
data_ver4_clean = data_ver4_clean['loan_purpose'].astype(int)
data_ver4_clean = data_ver4.drop('purpose', axis = 1)
data_ver4_clean

,int_rate,installment,dti,pub_rec,revol_bal,revol_util,total_acc,mort_acc,collections_12_mths_ex_med,annual_inc,loan_amnt,cr_line_period,issue_d_period,emplength,target,loan_purpose
0,13.99,147636.00,5.91,0.00,3318000.00,29.70,13.00,1.00,0.00,66000000.00,4320000.00,12,9,10,0,0.00
1,11.99,984336.00,16.06,0.00,25764000.00,19.20,38.00,4.00,0.00,78000000.00,29640000.00,16,9,10,0,5.00
2,10.78,519192.00,10.78,0.00,9442800.00,56.20,18.00,5.00,0.00,75600000.00,24000000.00,15,9,10,0,2.00
4,22.45,347892.00,25.37,0.00,26314800.00,64.50,35.00,6.00,0.00,125319600.00,12480000.00,17,9,3,0,3.00
5,13.44,486216.00,10.20,0.00,10586400.00,68.40,6.00,0.00,0.00,40800000.00,14340000.00,28,9,4,0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260688,9.49,453540.00,20.59,0.00,28599600.00,34.00,39.00,3.00,0.00,156000000.00,21600000.00,12,8,5,0,2.00
2260690,13.99,820728.00,22.03,0.00,92976000.00,85.20,32.00,3.00,0.00,216950400.00,35280000.00,14,8,9,0,0.00
2260691,14.49,903288.00,10.34,0.00,133917600.00,27.40,18.00,3.00,0.00,188400000.00,38400000.00,5,8,3,2,2.00
2260692,12.79,434808.00,12.25,4.00,9240000.00,55.00,28.00,0.00,0.00,180000000.00,19200000.00,19,8,10,0,4.00
2260697,14.49,677472.00,18.30,1.00,21169200.00,68.10,31.00,2.00,0.00,132000000.00,28800000.00,17,8,6,2,0.00

In [48]:
data_ver4_clean.isna().sum()

int_rate                        0
installment                     0
dti                             0
pub_rec                         0
revol_bal                       0
revol_util                      0
total_acc                       0
mort_acc                        0
collections_12_mths_ex_med      0
annual_inc                      0
loan_amnt                       0
cr_line_period                  0
issue_d_period                  0
emplength                       0
target                          0
loan_purpose                  784
dtype: int64

In [49]:
data_ver4_clean = data_ver4.dropna(axis = 0)
data_ver4_clean.isna().sum()

int_rate                      0
installment                   0
dti                           0
pub_rec                       0
revol_bal                     0
revol_util                    0
total_acc                     0
mort_acc                      0
collections_12_mths_ex_med    0
annual_inc                    0
loan_amnt                     0
purpose                       0
cr_line_period                0
issue_d_period                0
emplength                     0
target                        0
loan_purpose                  0
dtype: int64

In [50]:
data_ver4_clean['loan_purpose'] = data_ver4_clean['loan_purpose'].astype(int)
data_ver4_clean

C:\Users\user\AppData\Local\Temp\ipykernel_20100\964762186.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ver4_clean['loan_purpose'] = data_ver4_clean['loan_purpose'].astype(int)

,int_rate,installment,dti,pub_rec,revol_bal,revol_util,total_acc,mort_acc,collections_12_mths_ex_med,annual_inc,loan_amnt,purpose,cr_line_period,issue_d_period,emplength,target,loan_purpose
0,13.99,147636.00,5.91,0.00,3318000.00,29.70,13.00,1.00,0.00,66000000.00,4320000.00,debt_consolidation,12,9,10,0,0
1,11.99,984336.00,16.06,0.00,25764000.00,19.20,38.00,4.00,0.00,78000000.00,29640000.00,small_business,16,9,10,0,5
2,10.78,519192.00,10.78,0.00,9442800.00,56.20,18.00,5.00,0.00,75600000.00,24000000.00,home_improvement,15,9,10,0,2
4,22.45,347892.00,25.37,0.00,26314800.00,64.50,35.00,6.00,0.00,125319600.00,12480000.00,major_purchase,17,9,3,0,3
5,13.44,486216.00,10.20,0.00,10586400.00,68.40,6.00,0.00,0.00,40800000.00,14340000.00,debt_consolidation,28,9,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260688,9.49,453540.00,20.59,0.00,28599600.00,34.00,39.00,3.00,0.00,156000000.00,21600000.00,home_improvement,12,8,5,0,2
2260690,13.99,820728.00,22.03,0.00,92976000.00,85.20,32.00,3.00,0.00,216950400.00,35280000.00,debt_consolidation,14,8,9,0,0
2260691,14.49,903288.00,10.34,0.00,133917600.00,27.40,18.00,3.00,0.00,188400000.00,38400000.00,home_improvement,5,8,3,2,2
2260692,12.79,434808.00,12.25,4.00,9240000.00,55.00,28.00,0.00,0.00,180000000.00,19200000.00,medical,19,8,10,0,4
2260697,14.49,677472.00,18.30,1.00,21169200.00,68.10,31.00,2.00,0.00,132000000.00,28800000.00,debt_consolidation,17,8,6,2,0

In [51]:
data_ver4_clean = data_ver4_clean.drop('purpose', axis = 1)
data_ver4_clean

,int_rate,installment,dti,pub_rec,revol_bal,revol_util,total_acc,mort_acc,collections_12_mths_ex_med,annual_inc,loan_amnt,cr_line_period,issue_d_period,emplength,target,loan_purpose
0,13.99,147636.00,5.91,0.00,3318000.00,29.70,13.00,1.00,0.00,66000000.00,4320000.00,12,9,10,0,0
1,11.99,984336.00,16.06,0.00,25764000.00,19.20,38.00,4.00,0.00,78000000.00,29640000.00,16,9,10,0,5
2,10.78,519192.00,10.78,0.00,9442800.00,56.20,18.00,5.00,0.00,75600000.00,24000000.00,15,9,10,0,2
4,22.45,347892.00,25.37,0.00,26314800.00,64.50,35.00,6.00,0.00,125319600.00,12480000.00,17,9,3,0,3
5,13.44,486216.00,10.20,0.00,10586400.00,68.40,6.00,0.00,0.00,40800000.00,14340000.00,28,9,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260688,9.49,453540.00,20.59,0.00,28599600.00,34.00,39.00,3.00,0.00,156000000.00,21600000.00,12,8,5,0,2
2260690,13.99,820728.00,22.03,0.00,92976000.00,85.20,32.00,3.00,0.00,216950400.00,35280000.00,14,8,9,0,0
2260691,14.49,903288.00,10.34,0.00,133917600.00,27.40,18.00,3.00,0.00,188400000.00,38400000.00,5,8,3,2,2
2260692,12.79,434808.00,12.25,4.00,9240000.00,55.00,28.00,0.00,0.00,180000000.00,19200000.00,19,8,10,0,4
2260697,14.49,677472.00,18.30,1.00,21169200.00,68.10,31.00,2.00,0.00,132000000.00,28800000.00,17,8,6,2,0

In [56]:
data_ver4_clean.isna().sum()

int_rate                      0
installment                   0
dti                           0
pub_rec                       0
revol_bal                     0
revol_util                    0
total_acc                     0
mort_acc                      0
collections_12_mths_ex_med    0
annual_inc                    0
loan_amnt                     0
cr_line_period                0
issue_d_period                0
emplength                     0
target                        0
loan_purpose                  0
dtype: int64

In [52]:
data_ver4_0 = data_ver4_clean[data_ver4_clean['target'] == 0]
data_ver4_1 = data_ver4_clean[data_ver4_clean['target'] == 1]
data_ver4_2 = data_ver4_clean[data_ver4_clean['target'] == 2]

In [53]:
data_ver4_0

,int_rate,installment,dti,pub_rec,revol_bal,revol_util,total_acc,mort_acc,collections_12_mths_ex_med,annual_inc,loan_amnt,cr_line_period,issue_d_period,emplength,target,loan_purpose
0,13.99,147636.00,5.91,0.00,3318000.00,29.70,13.00,1.00,0.00,66000000.00,4320000.00,12,9,10,0,0
1,11.99,984336.00,16.06,0.00,25764000.00,19.20,38.00,4.00,0.00,78000000.00,29640000.00,16,9,10,0,5
2,10.78,519192.00,10.78,0.00,9442800.00,56.20,18.00,5.00,0.00,75600000.00,24000000.00,15,9,10,0,2
4,22.45,347892.00,25.37,0.00,26314800.00,64.50,35.00,6.00,0.00,125319600.00,12480000.00,17,9,3,0,3
5,13.44,486216.00,10.20,0.00,10586400.00,68.40,6.00,0.00,0.00,40800000.00,14340000.00,28,9,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260684,10.49,584964.00,26.40,0.00,58384800.00,36.10,42.00,2.00,0.00,72000000.00,18000000.00,36,8,8,0,0
2260686,14.49,671820.00,32.73,0.00,129296400.00,89.50,29.00,5.00,0.00,142800000.00,28560000.00,24,8,10,0,0
2260688,9.49,453540.00,20.59,0.00,28599600.00,34.00,39.00,3.00,0.00,156000000.00,21600000.00,12,8,5,0,2
2260690,13.99,820728.00,22.03,0.00,92976000.00,85.20,32.00,3.00,0.00,216950400.00,35280000.00,14,8,9,0,0
2260692,12.79,434808.00,12.25,4.00,9240000.00,55.00,28.00,0.00,0.00,180000000.00,19200000.00,19,8,10,0,4

In [54]:
data_ver4_1

,int_rate,installment,dti,pub_rec,revol_bal,revol_util,total_acc,mort_acc,collections_12_mths_ex_med,annual_inc,loan_amnt,cr_line_period,issue_d_period,emplength,target,loan_purpose
227,14.85,455268.00,16.65,1.00,12190800.00,51.80,20.00,0.00,0.00,108000000.00,19200000.00,13,9,10,1,1
349,10.78,726876.00,26.15,0.00,45214800.00,60.40,30.00,3.00,0.00,162000000.00,33600000.00,19,9,3,1,0
437,8.49,265836.00,12.25,0.00,44916000.00,49.10,26.00,4.00,0.00,115200000.00,12960000.00,10,9,9,1,6
457,11.99,347712.00,29.56,0.00,9588000.00,38.60,33.00,4.00,0.00,72000000.00,10470000.00,20,9,10,1,0
630,14.85,796704.00,24.02,0.00,22228800.00,31.30,31.00,3.00,0.00,132000000.00,33600000.00,19,9,10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260373,16.99,941112.00,23.61,0.00,21154800.00,67.00,18.00,0.00,0.00,74400000.00,26400000.00,18,8,10,1,0
2260425,17.99,487452.00,15.74,0.00,5539200.00,30.40,13.00,0.00,0.00,80400000.00,19200000.00,13,8,10,1,1
2260426,19.99,794652.00,22.71,0.00,20912400.00,78.50,23.00,3.00,0.00,108000000.00,30000000.00,10,8,10,1,0
2260442,12.79,580488.00,22.03,0.00,16869600.00,93.70,13.00,0.00,0.00,90000000.00,17280000.00,12,8,2,1,0
2260573,15.59,647832.00,25.32,0.00,36948000.00,42.60,34.00,0.00,0.00,96000000.00,26880000.00,9,8,10,1,1

In [55]:
data_ver4_2

,int_rate,installment,dti,pub_rec,revol_bal,revol_util,total_acc,mort_acc,collections_12_mths_ex_med,annual_inc,loan_amnt,cr_line_period,issue_d_period,emplength,target,loan_purpose
13,19.48,566040.00,9.39,1.00,16862400.00,40.70,27.00,2.00,0.00,180000000.00,21600000.00,10,9,7,2,0
25,14.85,175392.00,15.22,0.00,1269600.00,24.60,6.00,0.00,0.00,42000000.00,5070000.00,4,9,5,2,0
30,12.88,645816.00,18.96,1.00,6188400.00,54.30,20.00,0.00,0.00,78000000.00,19200000.00,30,9,10,2,5
31,24.24,841212.00,20.84,0.00,29758800.00,65.30,21.00,2.00,0.00,90000000.00,29100000.00,8,9,4,2,0
33,13.99,697896.00,34.53,0.00,27022800.00,18.60,72.00,6.00,0.00,94800000.00,30000000.00,14,9,9,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260673,13.99,893304.00,29.89,0.00,53822400.00,41.60,38.00,7.00,0.00,150000000.00,38400000.00,21,8,10,2,0
2260677,13.49,309192.00,4.80,2.00,15097200.00,54.70,14.00,0.00,0.00,103200000.00,13440000.00,22,8,5,2,0
2260685,14.49,1027488.00,21.50,0.00,66867600.00,79.80,24.00,6.00,0.00,114000000.00,43680000.00,29,8,5,2,1
2260691,14.49,903288.00,10.34,0.00,133917600.00,27.40,18.00,3.00,0.00,188400000.00,38400000.00,5,8,3,2,2
2260697,14.49,677472.00,18.30,1.00,21169200.00,68.10,31.00,2.00,0.00,132000000.00,28800000.00,17,8,6,2,0

In [57]:
data_ver4_0_head = data_ver4_0.head(23472)
data_ver4_2_tail = data_ver4_2.tail(23472)

In [58]:
data_fin = pd.concat([data_ver4_0_head, data_ver4_1, data_ver4_2_tail])

In [59]:
data_fin

,int_rate,installment,dti,pub_rec,revol_bal,revol_util,total_acc,mort_acc,collections_12_mths_ex_med,annual_inc,loan_amnt,cr_line_period,issue_d_period,emplength,target,loan_purpose
0,13.99,147636.00,5.91,0.00,3318000.00,29.70,13.00,1.00,0.00,66000000.00,4320000.00,12,9,10,0,0
1,11.99,984336.00,16.06,0.00,25764000.00,19.20,38.00,4.00,0.00,78000000.00,29640000.00,16,9,10,0,5
2,10.78,519192.00,10.78,0.00,9442800.00,56.20,18.00,5.00,0.00,75600000.00,24000000.00,15,9,10,0,2
4,22.45,347892.00,25.37,0.00,26314800.00,64.50,35.00,6.00,0.00,125319600.00,12480000.00,17,9,3,0,3
5,13.44,486216.00,10.20,0.00,10586400.00,68.40,6.00,0.00,0.00,40800000.00,14340000.00,28,9,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260673,13.99,893304.00,29.89,0.00,53822400.00,41.60,38.00,7.00,0.00,150000000.00,38400000.00,21,8,10,2,0
2260677,13.49,309192.00,4.80,2.00,15097200.00,54.70,14.00,0.00,0.00,103200000.00,13440000.00,22,8,5,2,0
2260685,14.49,1027488.00,21.50,0.00,66867600.00,79.80,24.00,6.00,0.00,114000000.00,43680000.00,29,8,5,2,1
2260691,14.49,903288.00,10.34,0.00,133917600.00,27.40,18.00,3.00,0.00,188400000.00,38400000.00,5,8,3,2,2
2260697,14.49,677472.00,18.30,1.00,21169200.00,68.10,31.00,2.00,0.00,132000000.00,28800000.00,17,8,6,2,0

In [60]:
data_fin.to_csv('./train_data.csv', index = False)

In [61]:
data_ver4_0_head2 = data_ver4_0.head(11736)
data_ver4_1_head2 = data_ver4_1.head(11736)
data_ver4_2_tail2 = data_ver4_2.tail(11736)

In [62]:
data_final = pd.concat([data_ver4_0_head2, data_ver4_1_head2, data_ver4_2_tail2])

In [63]:
data_final

,int_rate,installment,dti,pub_rec,revol_bal,revol_util,total_acc,mort_acc,collections_12_mths_ex_med,annual_inc,loan_amnt,cr_line_period,issue_d_period,emplength,target,loan_purpose
0,13.99,147636.00,5.91,0.00,3318000.00,29.70,13.00,1.00,0.00,66000000.00,4320000.00,12,9,10,0,0
1,11.99,984336.00,16.06,0.00,25764000.00,19.20,38.00,4.00,0.00,78000000.00,29640000.00,16,9,10,0,5
2,10.78,519192.00,10.78,0.00,9442800.00,56.20,18.00,5.00,0.00,75600000.00,24000000.00,15,9,10,0,2
4,22.45,347892.00,25.37,0.00,26314800.00,64.50,35.00,6.00,0.00,125319600.00,12480000.00,17,9,3,0,3
5,13.44,486216.00,10.20,0.00,10586400.00,68.40,6.00,0.00,0.00,40800000.00,14340000.00,28,9,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260673,13.99,893304.00,29.89,0.00,53822400.00,41.60,38.00,7.00,0.00,150000000.00,38400000.00,21,8,10,2,0
2260677,13.49,309192.00,4.80,2.00,15097200.00,54.70,14.00,0.00,0.00,103200000.00,13440000.00,22,8,5,2,0
2260685,14.49,1027488.00,21.50,0.00,66867600.00,79.80,24.00,6.00,0.00,114000000.00,43680000.00,29,8,5,2,1
2260691,14.49,903288.00,10.34,0.00,133917600.00,27.40,18.00,3.00,0.00,188400000.00,38400000.00,5,8,3,2,2
2260697,14.49,677472.00,18.30,1.00,21169200.00,68.10,31.00,2.00,0.00,132000000.00,28800000.00,17,8,6,2,0

In [64]:
data_final.to_csv('./data_fin.csv', index = False)